#언패킹 예제

In [1]:
def f2(x,y):
    return x+y

def f(**kwargs):
    print(kwargs)
    return f2(**kwargs) #--> f2(x = 3, y = 4)

f(x = 3, y = 4)
# 키워드 형식으로 인자를 받으면

{'x': 3, 'y': 4}

7

In [2]:
kwargs = {'x': 5, 'y': 9}
f(**kwargs)

{'x': 5, 'y': 9}

14

In [1]:
import pandas as pd
from pandas import Series, DataFrame

#pd.set_option('max_columns', 8, 'max_rows', 8)

<font color = "#CC3D3D"><p>
# Topics
* [DataFrame: anatomy, important attributes & methods, and data types](#DataFrame:-anatomy,-important-attributes-&-methods,-and-data-types)
* [Series: a single column of data from a DataFrame](#Series:-a-single-column-of-data-from-a-DataFrame)
* [Summarizing Data](#Summarizing-Data)
* [Indexing and Slicing](#Indexing-and-Slicing)
* [Boolean Indexing](#Boolean-Indexing)

## DataFrame: anatomy, important attributes & methods, and data types
### What is a DataFrame?
- A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric,string, boolean, etc.).
- The DataFrame has both a row and column index.
- Compared with other such DataFrame-like structures you may have used before (like R’s data.frame), row-oriented and column-oriented operations in DataFrame are treated roughly symmetrically.   

### Anatomy of a DataFrame
<img align="left" src="https://miro.medium.com/max/2000/1*aJJjpCHMNVyfM3UIJZyYcw.png">

데이터 프레임은 컬럼 인덱스 데이터로 구성되어 있다.<p/>
data_frame = column + index + data

In [9]:
movie = pd.read_csv('movie.csv')
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [5]:
demo = pd.read_csv('Demo.csv', encoding='cp949')
demo
#인코딩 방식을 한글로 설정.

             ID  성별  연령     거주지역
0     478207946   1  84   서울 성동구
1     479806984   1  84   서울 서초구
2      94790213   1  84   부산 사상구
3     656026338   1  84  서울 영등포구
4     433076833   1  83   경기 고양시
...         ...  ..  ..      ...
3537  154314532   1  66   부산 사하구
3538  416998709   1  59   경기 수원시
3539  168692065   2  63   경기 안양시
3540  955481370   2  58   경기 의왕시
3541  821581510   2  64   경기 안양시

[3542 rows x 4 columns]

In [6]:
tran = pd.read_csv('구매내역정보.csv', encoding='cp949', engine='python')
tran
#파일명이 한글일 때 읽히지 않을 수 가 있음 이때 engine = python으로 설정함.

,ID,상품대분류명,상품중분류명,구매지역,구매일자,구매시간,구매수량,구매금액,취소여부
0,410362886,의류잡화,여성용의류-정장류,서울 송파구,20140510,1,1,198000,0
1,643279402,식품,농산물,경기 성남시,20140612,1,1,2000,0
2,643279402,식품,농산물,경기 성남시,20140612,1,1,4000,0
3,643279402,식품,농산물,경기 성남시,20140612,1,1,5000,0
4,643279402,식품,농산물,경기 성남시,20140612,1,1,9000,0
...,...,...,...,...,...,...,...,...,...
101687,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,0,0
101688,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,9000,0
101689,862978930,레포츠,스포츠용품/의류,서울 강서구,20140817,22,1,88000,0
101690,968743249,가전제품,TV/AV,경기 성남시,20141031,22,1,2569000,0
101691,980881628,의류잡화,남성용의류-캐주얼,서울 중구,20140815,22,1,50000,0

In [2]:
#딕셔너리 형태로 데이터프레임에 데이터를 넣을 수 있음.
#열--> key값. / 데이터 --> value 값.
data = {'state': ['서울', '서울', '서울', '부산', '부산', '부산'],
        'year': [2014, 2016, 2018, 2014, 2016, 2018],
        'pop': [997.5, 984.3, 970.5, 345.2, 344.7, 340.0]}
data

{'state': ['서울', '서울', '서울', '부산', '부산', '부산'],
 'year': [2014, 2016, 2018, 2014, 2016, 2018],
 'pop': [997.5, 984.3, 970.5, 345.2, 344.7, 340.0]}

In [3]:
df = DataFrame(data)
df

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [9]:
a = df.query('state == "서울" ').index.tolist()

In [10]:
df.drop(a)

  state  year    pop
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

### Important Attributes and Methods
| Attributes or Methods | Results |
|:---|:---|
| df.index | Array-like row labels |
| df.columns | Array-like column labels |
| df.values | Numpy array, data |
| df.shape | (n_rows, m_cols) |
| df.dtypes | Type of each column |
| len(df) | Number of rows |
| df.head(), df.tail() | First/last rows |
| df.describe() | Summary stats |
| df.info() | Summary of a DF |

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   6 non-null      object
 1   year    6 non-null      int64
 2   pop     6 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [104]:
#데이터가 너무 클때 가장 위의 값을 보여줌.
df.head(3)

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5

In [105]:
# 데이터의 뒤의 값을 출력.(인자에 아무 것도 없으면 5개의 행 출력.)
df.tail()

  state  year    pop
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [106]:
set(df.index)

{0, 1, 2, 3, 4, 5}

In [107]:
list(df.index) #list타입으로도 출력 가능.

[0, 1, 2, 3, 4, 5]

In [108]:
df.index.values

array([0, 1, 2, 3, 4, 5])

In [109]:
#모든 컬럼의 값을 보여줌.
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [110]:
list(df.columns)

['state', 'year', 'pop']

In [111]:
#이차원 데이터는 리스트 안에 리스트를 저장함.
df.values

array([['서울', 2014, 997.5],
       ['서울', 2016, 984.3],
       ['서울', 2018, 970.5],
       ['부산', 2014, 345.2],
       ['부산', 2016, 344.7],
       ['부산', 2018, 340.0]], dtype=object)

In [112]:
#열 행의 값을 확인.
df.shape

(6, 3)

In [113]:
#데이터프레임의 인덱스의 개수
df.shape[0]

6

In [114]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
#len을 사용해서도 확인 가능.
len(df) # n_rows

6

In [19]:
# n_all_elements = n_rows * n_cols 데이터의 개수 
df.size

18

### Data types
<img align="left" src="http://drive.google.com/uc?export=view&id=1x5GP26v8C5oUDB3RY2mADHLRf9K1WgDe">

object 타입은 파이썬의 list, tuple, dictionary 등에 해당함. </p>

In [20]:
#각 칼럼의 타입을 확인할 수 있음.
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [6]:
type(df.dtypes)

pandas.core.series.Series

In [7]:
df.dtypes.count

<bound method Series.count of state     object
year       int64
pop      float64
dtype: object>

In [5]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [121]:
#데이터 프레임의 구조를 보여줌.
df.info()
#nan으로 표시되지 않은 것이 6개 존재/ 데이터의 사이즈

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   6 non-null      object
 1   year    6 non-null      int64
 2   pop     6 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [122]:
#movie 데이터프레임의 정보 확인.
movie.info()
#인덱스 열의 개수에서 mot null count을 뺴면 결측값을 계산할 수 있음.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [24]:
#데이터프레임 중 숫자 칼럼의 기술 통계량을 보여줌.
df.describe()

              year         pop
count     6.000000    6.000000
mean   2016.000000  663.700000
std       1.788854  351.089157
min    2014.000000  340.000000
25%    2014.500000  344.825000
50%    2016.000000  657.850000
75%    2017.500000  980.850000
max    2018.000000  997.500000

In [25]:
# pandas 데이터 타입을 변경하려면 astype 메소드를 사용할 것: 인자로 pandas string name 지정
df.describe().astype('int')

       year  pop
count     6    6
mean   2016  663
std       1  351
min    2014  340
25%    2014  344
50%    2016  657
75%    2017  980
max    2018  997

## Series: a single column of data from a DataFrame

In [26]:
dir(pd.read_csv('movie.csv').director_name)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [27]:
pd.read_csv('movie.csv') #movie csv 파일을 읽음

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [28]:
pd.read_csv('movie.csv').director_name #해당 파일의 감독 데이터와 그 인덱스 값을 찾을 수 있음.

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [29]:
type(pd.read_csv('movie.csv').director_name) #해당 명령어의 리턴 값은 Series 타입의 데이터 이다.

pandas.core.series.Series

In [30]:
pd.read_csv('movie.csv').director_name.index

RangeIndex(start=0, stop=4916, step=1)

In [31]:
pd.read_csv('movie.csv').director_name.index.values #인덱스의 값을 불러옴.

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [32]:
df.state

0    서울
1    서울
2    서울
3    부산
4    부산
5    부산
Name: state, dtype: object

In [33]:
df

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [34]:
df[['state', 'pop']] # Year를 제외한 두 칼럼을 뽑음.

  state    pop
0    서울  997.5
1    서울  984.3
2    서울  970.5
3    부산  345.2
4    부산  344.7
5    부산  340.0

In [35]:
type(df[['state', 'pop']]) #여전히 데이터프레임 형식이다.

pandas.core.frame.DataFrame

In [125]:
df.pop

<bound method NDFrame.pop of   state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0>

In [126]:
df['pop']

0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
Name: pop, dtype: float64

In [37]:
type(df.pop) # dir로 확인할 때 메소드의 pop과 칼럼 pop이 충돌하였기 때문.

method

In [38]:
df['pop'] #df.pop 은 충돌의 위험성이 있기 때문에 df['pop']의 표현을 사용해야함.

0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
Name: pop, dtype: float64

In [39]:
type(df['pop']) #시리즈 타입의 형태

pandas.core.series.Series

In [40]:
df[['pop']] #리스트로 칼럼을 불러올 때 --> dataframe 형식을 유지함.

     pop
0  997.5
1  984.3
2  970.5
3  345.2
4  344.7
5  340.0

In [41]:
type(df[['pop']]) #df 타입의 형태

pandas.core.frame.DataFrame

In [42]:
type(df.state), type(df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [127]:
type(df.state)

pandas.core.series.Series

In [128]:
df['state'].value_counts()
# 시리즈에는 value_counts() 메소드 가 존재함. 값의 개수를 세어줌.
# dataframe의 타입에서는 사용이 불가능함.

부산    3
서울    3
Name: state, dtype: int64

In [129]:
df.state.value_counts()

부산    3
서울    3
Name: state, dtype: int64

In [44]:
df.state.size

6

In [45]:
df.state.value_counts().size

2

In [46]:
df.state.unique() #유일한 것을 뽑음.

array(['서울', '부산'], dtype=object)

In [130]:
list(df.state.unique())

['서울', '부산']

In [47]:
df.state.nunique() #유일한 것의 개수

2

In [48]:
df.state.size == len(df.state) #열의 사이즈는 인덱스의 개수와 같음.

True

In [131]:
df.state.shape #하나의 원소를 갖는 튜플.

(6,)

In [132]:
df.state.min()

'부산'

In [51]:
df.state.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
Name: state, dtype: bool

In [52]:
df.year.isin([2014, 2015, 2016]) # 각 리스트의 값과 일치 하는 값을 찾아 true 반환.

0     True
1     True
2    False
3     True
4     True
5    False
Name: year, dtype: bool

In [133]:
state_pop = df['pop']
state_pop

0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
Name: pop, dtype: float64

In [54]:
state_pop + 1 #각각의 원소에 1을 더해라 이를 element-wise operation이라고 함.(Series 타입에서)

0    998.5
1    985.3
2    971.5
3    346.2
4    345.7
5    341.0
Name: pop, dtype: float64

In [55]:
state_pop > 500 #.sum()을 사용해서 개수를 구할 수도 있음.

0     True
1     True
2     True
3    False
4    False
5    False
Name: pop, dtype: bool

In [56]:
state_pop.add(1) # add, sub, mul, div, floordiv, mod, pow
# element-wise operation을 사용할 수도 있음.

0    998.5
1    985.3
2    971.5
3    346.2
4    345.7
5    341.0
Name: pop, dtype: float64

In [57]:
state_pop.add(1).sub(2).mul(3).div(6)

0    498.25
1    491.65
2    484.75
3    172.10
4    171.85
5    169.50
Name: pop, dtype: float64

In [58]:
state_pop.gt(500) # lt, gt, le, ge, eq, ne

0     True
1     True
2     True
3    False
4    False
5    False
Name: pop, dtype: bool

In [59]:
movie.color.isnull()
#결과 값 또한 Series
#각 데이터 의 값이 null 값인지를 확인 null이라면 True를 반환함.

0       False
1       False
2       False
3       False
4        True
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: color, Length: 4916, dtype: bool

In [60]:
movie.isnull() #데이터 프레임에서의 isnull을 모두 찾음.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
4913,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [61]:
movie.isnull().sum()
#결측값을 찾아 그 합을 찾음. 데이터를 처리할때 결측값을 처리해야하함. --> 자주 사용함.

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [134]:
#state_pop은 series type형태이므로 연산 가능
(((state_pop + 1) * 2) // 3).sum()

2655.0

In [62]:
state_pop.add(1).mul(2).floordiv(3).sum()

2655.0

In [63]:
state_pop / state_pop.sum() #퍼센트로 표현도 가능함.

0    0.250490
1    0.247175
2    0.243710
3    0.086686
4    0.086560
5    0.085380
Name: pop, dtype: float64

In [138]:
(((df[['pop','state']] + 1) * 2) // 3)
#추출한 행이 숫자일겨우엔 가능하지만 텍스트일경우 안됨.

TypeError: can only concatenate str (not "int") to str

In [139]:
tran

,ID,상품대분류명,상품중분류명,구매지역,구매일자,구매시간,구매수량,구매금액,취소여부
0,410362886,의류잡화,여성용의류-정장류,서울 송파구,20140510,1,1,198000,0
1,643279402,식품,농산물,경기 성남시,20140612,1,1,2000,0
2,643279402,식품,농산물,경기 성남시,20140612,1,1,4000,0
3,643279402,식품,농산물,경기 성남시,20140612,1,1,5000,0
4,643279402,식품,농산물,경기 성남시,20140612,1,1,9000,0
...,...,...,...,...,...,...,...,...,...
101687,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,0,0
101688,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,9000,0
101689,862978930,레포츠,스포츠용품/의류,서울 강서구,20140817,22,1,88000,0
101690,968743249,가전제품,TV/AV,경기 성남시,20141031,22,1,2569000,0
101691,980881628,의류잡화,남성용의류-캐주얼,서울 중구,20140815,22,1,50000,0

In [65]:
tran.상품대분류명.value_counts() #상품대분류명 칼럼에서 횟수를 더함.
#자동적으로 sorting됨 가장 높은 빈도수부터 오름차순으로 정렬.

식품      38597
의류잡화    32028
가전제품    11006
생활잡화    10086
레포츠      8015
명품       1226
가구        734
Name: 상품대분류명, dtype: int64

In [140]:
tran.상품대분류명.value_counts()[0] #가장 많은 상품대분류명의 개수.

38597

In [66]:
type(tran.상품대분류명.value_counts()) #시리즈는 인덱스와 value로 이루어짐.

pandas.core.series.Series

In [67]:
tran.상품대분류명.value_counts().index[0] #가장 많이 팔림 상품군

'식품'

In [68]:
tran.상품대분류명.value_counts().index[:5] # top5

Index(['식품', '의류잡화', '가전제품', '생활잡화', '레포츠'], dtype='object')

In [143]:
list(tran.상품대분류명.value_counts().index[:5])

['식품', '의류잡화', '가전제품', '생활잡화', '레포츠']

<font color='blue'><p>
==> The sequential invocation of methods using the dot notation is referred to as **method chaining**.

## Summarizing Data
<img align="left" src="http://drive.google.com/uc?export=view&id=16CeMSPNyCjyICq_KlJm7ERWNoJfKwgZo">
<img align="left" src="http://drive.google.com/uc?export=view&id=1eCA7rRFojxc7WIG7xrVasuCbWuoY2KGT">

In [144]:
df

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [14]:
df['year'].min

<bound method Series.min of 0    2014
1    2016
2    2018
3    2014
4    2016
5    2018
Name: year, dtype: int64>

In [13]:
df['pop'].min

<bound method Series.min of 0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
Name: pop, dtype: float64>

In [70]:
df.min()

state      부산
year     2014
pop       340
dtype: object

axis = 0 --> index(행) 방향 </p>
axis = 1 --> column(열) 방향

In [145]:
df.min(axis=0) #각 인덱스에서 가장 작은 값

state      부산
year     2014
pop       340
dtype: object

In [72]:
df.min(axis=1) #행별로 각각의 값중 가장 작은 값을 추출. 항상 pop에 있는 값만 나올 수 밖에 없음.

0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
dtype: float64

In [73]:
df.sum()
#각 열에 대한 sum()을 수행.
#string 타입의 경우 문자를 concat함.

state    서울서울서울부산부산부산
year            12096
pop            3982.2
dtype: object

In [74]:
df.count() # no. of non-null observations

state    6
year     6
pop      6
dtype: int64

In [75]:
df.quantile(q=0.5) #백분위수 0.5일 경우 평균 값 반환.

year    2016.00
pop      657.85
Name: 0.5, dtype: float64

In [147]:
df.quantile(q=0) #가장 작은 값 반환.

year    2014.0
pop      340.0
Name: 0, dtype: float64

In [76]:
pd.__version__ #버전 확인. 명령어.

'1.0.3'

In [151]:
x = df

In [152]:
del df['year']

In [153]:
x

  state
0    서울
1    서울
2    서울
3    부산
4    부산
5    부산

In [154]:
y = df.copy()

In [155]:
del df['pop']
df

KeyError: 'pop'

In [156]:
y

  state
0    서울
1    서울
2    서울
3    부산
4    부산
5    부산

In [157]:
# DataFrame 변수를 assign할 때 (즉, df2 = df1), 주소(address)가 복사되고 내용은 복사되지 않음.
# 따라서, 원 데이터는 그대로 보존하면서 DataFrame 변수의 내용을 다른 변수에 복사할 경우 copy 메소드를 사용할 것 !
dx = df.copy()
display(dx)
dy = dx
dx.iloc[1,1] = pd.NA  # use pd.NA or NumPy NaN (np.nan) to represent a missing value.
display(dx)
display(dy)
display(df)
del dx, dy

  state
0    서울
1    서울
2    서울
3    부산
4    부산
5    부산

IndexError: single positional indexer is out-of-bounds

In [ ]:
%whos

In [ ]:
%who #현재 사용할 수있는 변수 리스트

## Indexing and Slicing
<img src='http://drive.google.com/uc?export=view&id=1eyYiZP5xQr5M6IIw9lnKjoAYY1m4YmiI'>
행과 열의 이름을 지어줌 / 행과 열의 인덱스를 사용

<font color='blue'>some rows (all columns in a DataFrame)

판다스의 문제점: 동일한 결과를 나타내는 방법이 많음.

In [160]:
df #위의 코드로 올라가서 df를 다시 정의함.

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [162]:
df.iloc[0] #첫번째 행, 모든 열

state       서울
year      2014
pop      997.5
Name: 0, dtype: object

In [163]:
df.loc[0]

state       서울
year      2014
pop      997.5
Name: 0, dtype: object

In [164]:
df.iloc[0,:]

state       서울
year      2014
pop      997.5
Name: 0, dtype: object

In [172]:
type(df.iloc[0,:]) #iloc, loc의 인덱싱 겨로가는 Series

pandas.core.series.Series

In [165]:
df.loc[1:3] #인덱스가 아니라 열의 이름이므로 1부터 3

  state  year    pop
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2

In [169]:
df.iloc[1:3] #인덱스를 통해 슬라이싱 인덱싱의 마지막은 -1을 적용. --> 1부터 2

  state  year    pop
1    서울  2016  984.3
2    서울  2018  970.5

In [170]:
df.loc[:1]

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3

<font color='blue'>All rows, some columns

In [171]:
df.loc[:,'state']
df.iloc[:,0]
df.state
df['state'] #state 열에 대한 모든 행.

0    서울
1    서울
2    서울
3    부산
4    부산
5    부산
Name: state, dtype: object

In [173]:
df.loc[:,'state':'pop']
#df[['state','pop']]

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [174]:
df.iloc[:,0:3]

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [175]:
df.loc[:, -'pop'] #loc은 문자열로 인덱싱을 하는 것이기 때문에 -를 사용할 수 없음.

TypeError: bad operand type for unary -: 'str'

In [176]:
df.iloc[:, -1] #리스트 인덱싱과 같이 뒤에서의 값을 추출할 수 있음.

0    997.5
1    984.3
2    970.5
3    345.2
4    344.7
5    340.0
Name: pop, dtype: float64

In [178]:
df.loc[:,(['year','pop'])] #칼럼명을 통해 추출.

   year    pop
0  2014  997.5
1  2016  984.3
2  2018  970.5
3  2014  345.2
4  2016  344.7
5  2018  340.0

<font color='blue'>Subset of rows and columns

In [179]:
df.loc[1, 'pop'] #1번 인덱스의 pop 열의 값.

984.3

In [180]:
df.loc[0:2, ['state', 'year']] #0,1,2 인덱스의 state, year 열

  state  year
0    서울  2014
1    서울  2016
2    서울  2018

In [181]:
df.loc[:,:] #모든 열과 행.

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

#인덱싱, 이름 방식으로 인덱싱 리스트와의 차이점을 확인해보아야함.

## Boolean Indexing

In [182]:
df

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5
3    부산  2014  345.2
4    부산  2016  344.7
5    부산  2018  340.0

In [183]:
df.query('pop > 500') #조건을 만족하는 요소를 뽑아냄 sql의 query와 같은 방식.

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5

In [184]:
df.query('pop > pop.mean()')[['year', 'pop']]
#pop의 평균값보다 큰 행, year와 pop 칼럼을 print

   year    pop
0  2014  997.5
1  2016  984.3
2  2018  970.5

In [185]:
df.query('year in [2014, 2016] and state == "부산"')

  state  year    pop
3    부산  2014  345.2
4    부산  2016  344.7

In [186]:
df[df['pop']>500] #인덱싱안에 조건을 줌.

  state  year    pop
0    서울  2014  997.5
1    서울  2016  984.3
2    서울  2018  970.5

In [187]:
df['pop']>500 #인덱스 안에 조건문은 boolean값으로 반환함.

0     True
1     True
2     True
3    False
4    False
5    False
Name: pop, dtype: bool

<font color = "blue"><p>
## Exercises

**Exercise 26**: Select the first row of data (the first record) from `movie`.

In [8]:
movie

NameError: name 'movie' is not defined

In [188]:
movie.iloc[0,:] #첫번째 행의 열의 모든 데이터를 추츨.

color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                     723
duration                                                                   178
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     855
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                    1000
gross                                                              7.60506e+08
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                             Avatar
num_voted_users                                                         886204
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                         0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                      3054
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                2.37e+08
title_year                                                                2009
actor_2_facebook_likes                                                     936
imdb_score                                                                 7.9
aspect_ratio                                                              1.78
movie_facebook_likes                                                     33000
Name: 0, dtype: object

In [190]:
movie.iloc[0]

color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                     723
duration                                                                   178
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     855
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                    1000
gross                                                              7.60506e+08
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                             Avatar
num_voted_users                                                         886204
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                         0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                      3054
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                2.37e+08
title_year                                                                2009
actor_2_facebook_likes                                                     936
imdb_score                                                                 7.9
aspect_ratio                                                              1.78
movie_facebook_likes                                                     33000
Name: 0, dtype: object

In [193]:
movie.loc[0] #첫번째 행을 추출하는 것이기 때문에 loc을 사용하여도 같은 결과같을 가질 수 있음.

color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                     723
duration                                                                   178
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     855
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                    1000
gross                                                              7.60506e+08
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                             Avatar
num_voted_users                                                         886204
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                         0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                      3054
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                2.37e+08
title_year                                                                2009
actor_2_facebook_likes                                                     936
imdb_score                                                                 7.9
aspect_ratio                                                              1.78
movie_facebook_likes                                                     33000
Name: 0, dtype: object

**Exercise 27**: Select the first 10 values from the `director_name` column in `movie`.

In [194]:
movie.director_name[:10]

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
5       Andrew Stanton
6            Sam Raimi
7         Nathan Greno
8          Joss Whedon
9          David Yates
Name: director_name, dtype: object

In [202]:
movie.iloc[:,1] #director_name 칼럼은 칼럼 인덱스 1에 존재함.

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [196]:
movie.loc[:9,'director_name'] #loc은 9를 사용.

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
5       Andrew Stanton
6            Sam Raimi
7         Nathan Greno
8          Joss Whedon
9          David Yates
Name: director_name, dtype: object

**Exercise 28**: Select the `country` and `budget` columns of the first 101 records.

In [203]:
movie[['country', 'budget']].iloc[:101] #0~100행

    country       budget
0       USA  237000000.0
1       USA  300000000.0
2        UK  245000000.0
3       USA  250000000.0
4       NaN          NaN
..      ...          ...
96      USA  165000000.0
97      USA  160000000.0
98    Japan          NaN
99      USA  180000000.0
100     USA   38000000.0

[101 rows x 2 columns]

**Exercise 29**: Select the `imdb_score` column for the last 1000 movies.

In [204]:
movie.iloc[-1000:,:].imdb_score #뒤에서 1000개의 데이터에 대한 imdb_Score의 값을 Series 형태로.

3916    6.8
3917    3.9
3918    6.1
3919    7.5
3920    8.2
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 1000, dtype: float64

**Exercise 30**: Select movies made in `South Korea`. Hint: `movie.country` equals what?

In [205]:
movie.query('country == "South Korea"') #South Korea를 지정할 때 ""을 사용해서 밖의 따옴표와 구분함.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1063,Color,Terence Young,10.0,140.0,92.0,522.0,Ben Gazzara,1000.0,NaN,Drama|History|War,...,16.0,English,South Korea,PG,4.800000e+07,1981.0,623.0,2.7,2.35,115
1313,Color,Joon-ho Bong,488.0,126.0,584.0,398.0,Ewen Bremner,11000.0,4563029.0,Action|Drama|Sci-Fi|Thriller,...,514.0,English,South Korea,R,3.920000e+07,2013.0,557.0,7.0,1.85,58000
1549,Color,Hyung-rae Shim,93.0,107.0,26.0,535.0,Aimee Garcia,889.0,10956379.0,Action|Drama|Fantasy|Horror|Thriller,...,364.0,English,South Korea,PG-13,3.500000e+07,2007.0,618.0,3.6,2.35,0
2576,Color,JK Youn,43.0,103.0,2.0,13.0,Ji-won Ha,94.0,NaN,Action|Comedy|Drama|Thriller,...,25.0,Korean,South Korea,R,NaN,2009.0,80.0,5.7,2.35,558
2788,Color,Hyung-rae Shim,4.0,100.0,26.0,385.0,Stephanie Danielson,898.0,163591.0,Comedy,...,17.0,English,South Korea,PG-13,1.340000e+07,2010.0,391.0,3.6,1.78,502
2845,Color,John H. Lee,2.0,115.0,32.0,29.0,Dean Dawson,14000.0,31662.0,Action|Drama|History|War,...,1.0,English,South Korea,NaN,1.262000e+07,2016.0,81.0,6.8,NaN,139
2867,Color,Je-kyu Kang,86.0,148.0,16.0,489.0,Bin Won,717.0,1110186.0,Action|Drama|War,...,224.0,Korean,South Korea,R,1.280000e+07,2004.0,517.0,8.1,2.35,0
3191,Color,Taedong Park,8.0,85.0,0.0,196.0,Tom Arnold,1000.0,NaN,Adventure|Animation,...,2.0,English,South Korea,NaN,1.000000e+07,2014.0,618.0,4.8,NaN,186
3198,Color,Jee-woon Kim,152.0,135.0,419.0,7.0,Woo-sung Jung,398.0,128486.0,Action|Adventure|Comedy|Western,...,74.0,Korean,South Korea,R,1.000000e+07,2008.0,149.0,7.3,2.35,0
3252,Color,Hong-jin Na,77.0,156.0,43.0,0.0,Jun Kunimura,45.0,770629.0,Fantasy|Horror|Mystery|Thriller,...,24.0,Korean,South Korea,Not Rated,NaN,2016.0,5.0,7.7,2.35,0
3284,Color,Woo-Suk Kang,15.0,135.0,0.0,13.0,Sung-kee Ahn,28.0,NaN,Action|Drama,...,17.0,Korean,South Korea,NaN,8.000000e+06,2003.0,15.0,7.2,2.35,387
3787,Color,Chan-wook Park,202.0,112.0,0.0,38.0,Yeong-ae Lee,717.0,211667.0,Crime|Drama,...,131.0,Korean,South Korea,R,4.200000e+09,2005.0,126.0,7.7,2.35,4000
4023,Color,Chan-wook Park,305.0,120.0,0.0,38.0,Ji-tae Yu,717.0,2181290.0,Drama|Mystery|Thriller,...,809.0,Korean,South Korea,R,3.000000e+06,2003.0,78.0,8.4,2.35,43000

**Exercise 31**: Select movies whose `gross` is `NaN`.

In [207]:
#gross의 값이 누락된 데이터를 가져옴.
# hint: isnull(), boolean indexing
movie.query('gross == "NaN"')# query에서는 비교해야하므로 isnull을 사용할 수 없음.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
84,Color,Roland Joffé,10.0,109.0,596.0,283.0,Alice Englert,622.0,NaN,Action|Adventure|Romance|Sci-Fi,...,15.0,English,Belgium,R,NaN,2015.0,525.0,4.5,NaN,677
98,Color,Hideaki Anno,1.0,120.0,28.0,12.0,Shin'ya Tsukamoto,544.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,...,13.0,Japanese,Japan,NaN,NaN,2016.0,106.0,8.2,2.35,0
176,Color,NaN,21.0,60.0,NaN,184.0,Philip Michael Thomas,982.0,NaN,Action|Crime|Drama|Mystery|Thriller,...,74.0,English,USA,TV-14,1500000.0,NaN,321.0,7.5,1.33,0
197,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,NaN,2011.0,570.0,7.5,NaN,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4905,Color,Ash Baron-Cohen,10.0,98.0,3.0,152.0,Stanley B. Herman,789.0,NaN,Crime|Drama,...,14.0,English,USA,NaN,NaN,1995.0,194.0,6.4,NaN,20
4909,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16

In [10]:
movie[movie.gross.isnull()]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
84,Color,Roland Joffé,10.0,109.0,596.0,283.0,Alice Englert,622.0,NaN,Action|Adventure|Romance|Sci-Fi,...,15.0,English,Belgium,R,NaN,2015.0,525.0,4.5,NaN,677
98,Color,Hideaki Anno,1.0,120.0,28.0,12.0,Shin'ya Tsukamoto,544.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,...,13.0,Japanese,Japan,NaN,NaN,2016.0,106.0,8.2,2.35,0
176,Color,NaN,21.0,60.0,NaN,184.0,Philip Michael Thomas,982.0,NaN,Action|Crime|Drama|Mystery|Thriller,...,74.0,English,USA,TV-14,1500000.0,NaN,321.0,7.5,1.33,0
197,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,NaN,2011.0,570.0,7.5,NaN,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4905,Color,Ash Baron-Cohen,10.0,98.0,3.0,152.0,Stanley B. Herman,789.0,NaN,Crime|Drama,...,14.0,English,USA,NaN,NaN,1995.0,194.0,6.4,NaN,20
4909,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16

In [11]:
movie.gross.isnull()

0       False
1       False
2       False
3       False
4        True
        ...
4911     True
4912     True
4913     True
4914    False
4915    False
Name: gross, Length: 4916, dtype: bool

**Exercise 32**: Add up all the actor and director Facebook likes and assign them to the new `actor_director_facebook_likes` column.

In [12]:
#'actor_director_facebook_likes' 열을 생성하여  director와 actor의 좋아요 수의 합을 저장함.
movie['actor_director_facebook_likes2'] = movie.loc[ : , ['director_facebook_likes',
                                                         'actor_3_facebook_likes',
                                                         'actor_2_facebook_likes',
                                                         'actor_1_facebook_likes'                                                       
                                                        ]].sum(axis = 1)

In [13]:
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actor_director_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,274.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,1427.0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,1753.0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,141.0

In [15]:
a = movie[['director_facebook_likes', 'actor_3_facebook_likes',
           'actor_2_facebook_likes','actor_1_facebook_likes' ]].sum(axis = 1)
movie['actor_director_facebook_likes2'] = a

In [16]:
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actor_director_facebook_likes,actor_director_facebook_likes2
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,274.0,274.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,1427.0,1427.0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,1753.0,1753.0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0.0,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,2154.0,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,141.0,141.0

**Exercise 33**: Who produces more good rated movies, Steven Spielberg or James Cameron? Select the `director_name` column, but only  when said `director_name` is one of those two options, _and_ the `imdb_score` column is greater than or equal to 8.0.

In [213]:
movie.query('imdb_score > 8.0')['director_name']
#director_name 중에서 imdb_score가 8.0이상인 director_name을 추출.

3       Christopher Nolan
17            Joss Whedon
27          Anthony Russo
43            Lee Unkrich
58         Andrew Stanton
              ...
4804            Cary Bell
4815        Bill Melendez
4822      Amal Al-Agroobi
4846           Sut Jhally
4875      Martin Scorsese
Name: director_name, Length: 249, dtype: object

<font color = "#CC3D3D"><p>
# End