<font color = "#CC3D3D"><b>
# Data Structures 
- List
- Tuple
- Dictionary
- Set

##### A collection(list, tuple, dictionary, set) allows us to put many values in a single "variable"
<p>

# 리스트(list)

- 리스트는 값을 순서대로 저장하는 자료구조다.
- 리스트를 사용하여 벡터나 행렬을 표현할 수 있다.

In [1]:
[2, 3, 1]

### 생성하기

리스트는 값들을 대괄호([])로 감싸서 만든다.

In [2]:
x = [1, 2, 3]
x

In [3]:
y = []  # 빈 리스트
y

x = list()

`list()` 함수는 다른 값을 리스트 형태로 변환한다. 예를 들어 문자열을 `list()` 함수에 넣으면 문자열이 글자들의 리스트로 바뀐다.

In [4]:
list('abc')

['a', 'b', 'c']

비어 있는 리스트는 `변수명 = list()` 형태로 생성할 수도 있다.

In [5]:
y = list()  # 빈 리스트
y
#리스트에는 어떠한 타입의 정보를 모두 넣을 수 있다.

[]

### 원소갯수 확인

리스트 안에 몇 개의 값이 들어있는지 확인하고 싶을때는 `len()` 함수를 사용한다.

In [6]:
len(x)

0

### 인덱싱

리스트 안에 있는 값을 선택하고 싶을 때는 인덱싱(indexing)을 사용한다. 인덱스는 0부터 시작한다.

In [7]:
x = ['a', 'b', 'c', 'd', 'e']

In [8]:
x[0]  # x의 첫번째 값

'a'

In [9]:
x[1]  # x의 두번째 값

'b'

뒤에서부터 셀 때는 마이너스 인덱스를 사용한다. -1은 뒤에서 첫번째라는 뜻이다.

In [10]:
x[-1]  # x의 뒤에서 첫번째 값

'e'

### 슬라이싱

- 리스트에서 일정 범위의 값을 선택할 때는 슬라이싱(slicing)을 사용한다. 
- 슬라이싱은 **`시작 인덱스:끝 인덱스`** 형식을 사용하는데, 시작 인덱스의 값은 포함하지만 끝 인덱스의 값은 포함하지 않는다.

In [11]:
x[0:3]  # 0번부터 2번까지 (3번은 포함하지 않는다)

['a', 'b', 'c']

끝 인덱스를 생략하면 시작 인덱스부터 끝까지 범위를 가리킨다.

In [12]:
x[3:]  # 3번부터 끝까지 선택

['d', 'e']

시작 인덱스를 생략하면 처음부터 끝 인덱스 전까지 범위를 가리킨다.

In [13]:
x[:3]  # 처음부터 2번까지

['a', 'b', 'c']

In [14]:
x[:]

['a', 'b', 'c', 'd', 'e']

**`시작 인덱스:끝 인덱스:간격`** 의 형식으로 간격을 표시할 수도 있다.

In [15]:
x[::2]  # 처음부터 끝까지 2간격으로 선택

['a', 'c', 'e']

In [16]:
x[1:4:2]  # 1번 값부터 4번 값 사이에서, 2간격으로 선택

['b', 'd']

간격에 음수를 사용하면 결과가 역순이 된다.

In [17]:
x[::-1]  # 리스트의 순서 뒤집기

['e', 'd', 'c', 'b', 'a']

In [18]:
a = [1,2,7]
#mean(a) --> mean이라는 함수는 파이썬에 기본적으로 내장되어있지 않음.
sum(a) / len(a)

3.3333333333333335

In [19]:
import numpy as np
#import를 통해 패키지를 불러올 수 있음. --> 파이썬에 내장되어있지 않은 함수들을 사용가능함.

In [20]:
np.mean(a)

3.3333333333333335

In [21]:
x = np.array(a)
x.mean()

3.3333333333333335

In [22]:
np.array(a).mean()

3.3333333333333335

### 관련 메소드와 연산자

`.append()` 메소드는 값을 리스트에 추가한다.

In [23]:
x = ['a', 'b', 'c', 'd', 'e']

In [24]:
x.append('f')  # x에 f를 추가 x
x

['a', 'b', 'c', 'd', 'e', 'f']

`.pop()` 메소드는 하나의 값을 제거한다.

In [25]:
x.pop()  # 마지막 값을 제거
x

['a', 'b', 'c', 'd', 'e']

In [26]:
x.pop(0) # 첫번째 값을 제거
x

['b', 'c', 'd', 'e']

`del` 연산자와 슬라이싱과 인덱싱을 사용해 값을 제거할 수 있다.

In [27]:
del x[-1]  # 마지막 값 제거
x

['b', 'c', 'd']

In [28]:
del x[:2]  # 첫 두개의 값 제거
x

['d']

`.index()` 메소드는 값의 위치를 찾는다.

In [29]:
x = ['a', 'b', 'c', 'd', 'e']

In [30]:
x.index('c')  # c의 위치

2

'c' 를 'k' 로 바꾸고 싶다면, 인덱싱을 사용한다.

In [31]:
x[2] = 'k'  # 세 번째 값을 'k'로 지정
x

['a', 'b', 'k', 'd', 'e']

두 리스트를 더하기로 합칠 수 있다.

In [32]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

리스트의 내용을 곱하기로 반복할 수 있다.

In [33]:
x = [1, 2, 3]
x * 2  # 두 번 반복

[1, 2, 3, 1, 2, 3]

두 리스트 비교하기

In [34]:
[3,4,3] == [3,4,3]

True

In [35]:
[3,4,3] > [3,4,5]

False

`in`과 `not in` 연산자를 사용하여 리스트 안에 특정 값이 있는지 확인

In [36]:
3 in x

True

In [37]:
3 not in [3,4,3]

False

<p> [중간점검]
  <p>* 리스트 중간에 요소를 추가하는 메소드는? --> insert
  <p>* 값으로 리스트의 요소를 제거하는 메소드는? --> del
  <p>* 리스트를 완전히 비우는 메소드는? --> clear

In [38]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 튜플(tuple)

- 튜플(tuple)은 리스트와 동일하게 값을 순서대로 저장하는 자료 구조다. 
- 단, 리스트와 달리 튜플은 **수정이나 변경을 할 수 없다.** (=> 좀 더 안심하고 쓸 수 있고 추가/삭제/수정 등에 대비할 필요가 없기 때문에 리스트보다 효율적인 내부 구조를 가진다)

### 생성하기

튜플은 값들을 둥근 괄호로 감싼다.

In [39]:
(1, 2, 3)

(1, 2, 3)

`tuple()` 함수에 다른 값을 넣으면 튜플로 변환한다.

In [40]:
tuple([1, 2, 3])

(1, 2, 3)

튜플 할당

In [41]:
x, y = 2, 3
#x = 2, y = 3

- 두 변수의 값을 교환하는 건 종종 유용하다. 일반적인 할당문으로는 임시 변수를 사용해야 한다.   
- 예를 들어 x와 y를 교환하려면 다음과 같은 코드를 사용한다.

In [42]:
#두 변수의 값을 바꾸고 싶을 때.

temp = x
x = y
y = temp

- 이런 방법은 번거롭다. 아래와 같은 표현이 좀 더 우아하다.

In [43]:
x, y = y, x

- 다만, 왼쪽에 있는 변수의 개수와 오른쪽에 있는 값의 개수는 같아야 한다.

In [44]:
x, y, _ = 1, 2, 3
# x, y = 1, 2, 3
print(x, y)

1 2

### 인덱싱과 슬라이싱

튜플의 인덱싱과 슬라이싱은 리스트와 같다.

In [45]:
x = (1, 2, 3) 
x[0]  # 첫번째 값 선택

1

In [46]:
x[0:2]  # 첫 두 값 선택

(1, 2)

### 합치기 & 반복하기

In [47]:
y = (4, 5, 6)

In [48]:
x + y  # 두 튜플 합치기

(1, 2, 3, 4, 5, 6)

In [49]:
x * 3  # 세번 반복하기

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 수정하기

튜플의 값을 수정하려 시도하면, TypeError 가 발생한다.

In [50]:
x[0] = 'a'  # 첫 값을 'a'로 수정

TypeError: 'tuple' object does not support item assignment

튜플의 값을 변경하고 싶다면, 튜플을 리스트로 바꾼 후, 다시 튜플로 만든다.

In [51]:
# 1단계: 튜플을 리스트로 변환

x = list(x) 
x

[1, 2, 3]

In [52]:
# 2단계: 원하는 값 수정 

x[0] = 'a' 
x

['a', 2, 3]

In [53]:
# 3단계: 리스트를 다시 튜플로 변환

x = tuple(x)  
x

('a', 2, 3)

# 사전(dictionary)

- 사전(dictionary)은 키(key)와 그에 대응하는 값(value)을 짝지워놓은 자료 구조다. 
- 사전이 단어(key)에 해당하는 뜻(value)을 찾기 위한 책인 것을 생각해보면 이런 이름이 붙은 이유를 짐작할 수 있을 것이다.

<img src='http://drive.google.com/uc?export=view&id=1s24Bwt82s6GSh7Iu5WHxozjMRwRrZtZp' align="left" width=600 height=400/>

### 생성하기

사전은 키와 값을 콜론(:)으로 짝짓고, 이들을 중괄호({})로 감싸서 표시한다.

In [54]:
fruit = {'사과': 10, '딸기': 20}
fruit

{'사과': 10, '딸기': 20}

### 인덱싱

사전을 키로 인덱싱하면, 그에 대응하는 값을 돌려받을 수 있다.

In [55]:
fruit['사과']

10

또한 기존의 값을 덮어 쓸 수도 있다.

In [56]:
fruit['사과'] = 100
fruit

{'사과': 100, '딸기': 20}

### 원소 추가하기

기존에 없는 키로 인덱싱하고 값을 할당하면 새로운 원소가 추가된다.

In [57]:
fruit['수박'] = 30
fruit

{'사과': 100, '딸기': 20, '수박': 30}

### 키 사용시 유의점

사전에서는 키가 중복될 경우 먼저 나온 키는 무시한다.

In [58]:
repeated_dict = {'a': 1, 'a': 5, 'b': 10}  # key에 'a'가 두개 repeated_dict['a']
repeated_dict
#딕셔너리의 키는 무엇이들 가능하다.

{'a': 5, 'b': 10}

사전의 키에는 숫자, 문자, 튜플 등 불변(immutable)인 값만 넣을 수 있다. 리스트처럼 가변 (mutable)적인 값은 키로 사용할 수 없다.

In [59]:
rank_score = {1: 100, 2: 100, 3: 100, 4: 90, 5: 90}  # 숫자 key
rank_score[1], rank_score[5]

(100, 90)

In [60]:
rank_score = {(1,2,3): 100, (4,5): 90}   # 튜플 key
rank_score[(1,2,3)], rank_score[(4,5)]

(100, 90)

In [61]:
rank_score = {[1,2,3]: 100, [4,5]: 90}   # 리스트 key

#리스트의 경우 튜플과 달리 값이 변경될 수가 있기 때문에 리스트의 key가 될 수 없음.

TypeError: unhashable type: 'list'

### 관련 메소드

사전의 키를 모두 확인하고 싶다면, `.keys()` 메소드를 부른다.

In [62]:
fruit.keys()

dict_keys(['사과', '딸기', '수박'])

사전의 값을 모두 확인하고 싶다면, `.values()` 메소드를 부른다.

In [63]:
fruit.values()

dict_values([100, 20, 30])

사전의 키와 값을 짝지어 보고 싶다면, `.items()` 메소드를 부른다.

In [64]:
fruit.items()

dict_items([('사과', 100), ('딸기', 20), ('수박', 30)])

사전에 존재하지 않는 키를 찾으면, KeyError 가 발생하는데,

In [65]:
fruit['포도']  # 없는 key

KeyError: '포도'

`.get()` 메소드는 이를 방지할 수 있게 해준다. 즉, KeyError를 일으키는 대신 아무 것도 반환하지 않거나 설정된 기본값을 반환한다.

In [66]:
fruit.get('사과')  # 있는 key

100

In [67]:
fruit.get('포도')  # 없는 key

In [68]:
fruit.get('포도', 500)  # 없는 key

500

`in` 연산자로 키가 사전에 있는지 확인할 수 있다.

In [69]:
'사과' in fruit

True

`del` 명령어를 사용해 값을 삭제할 수 있다.

In [70]:
del fruit['사과']  # '사과' 삭제
fruit

{'딸기': 20, '수박': 30}

사전을 전부 비우고 싶다면, `.clear()` 메소드를 사용한다.

In [71]:
fruit.clear()
fruit

x = 5
dir(fruit)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# 집합(set)

- 집합(set)은 수학의 집합과 같은 용도로 사용된다. 
- 집합은 반복되는 값을 허용하지 않으며, 순서 또한 보존하지 않는다.

### 생성하기

집합은 중괄호({})로 값을 감싸 만든다. 사전과 비슷하지만 키와 값의 짝이 없다는 점이 다르다.

In [72]:
x = {'사과', '포도', '바나나'} 
x

{'바나나', '사과', '포도'}

`set()` 함수에 다른 값을 넣으면 집합으로 변환된다. 만약 겹치는 항목이 집합에 들어있다면, 반복되는 항목은 제거된다.

In [73]:
set(['사과', '사과', '포도', '바나나', '바나나', '사과'])

{'바나나', '사과', '포도'}

사전을 `set()` 에 넘기면 키의 집합으로 변환된다.

In [74]:
set(fruit)

set()

### 집합의 크기

집합에서도 `len()` 함수를 사용하여 원소의 갯수를 확인할 수 있다.

In [75]:
len(x)

3

### 원소 추가와 삭제

집합에 원소를 추가하고 싶다면 `.add()` 메소드를 사용한다.

In [76]:
x.add('오렌지')  # 집합에 '오렌지' 추가
x

{'바나나', '사과', '오렌지', '포도'}

하나 이상의 원소는 `.update()` 메소드를 사용한다.

In [77]:
x.update(['수박', '딸기'])  # 집합에 '수박', '딸기' 추가 
x

{'딸기', '바나나', '사과', '수박', '오렌지', '포도'}

원소를 제거하고 싶을때는 `.remove()` 메소드를 사용한다.

In [78]:
x.remove('오렌지')
x

{'딸기', '바나나', '사과', '수박', '포도'}

`in` 연산자로 특정 값이 집합에 있는지 확인할 수 있다.

In [79]:
'바나나' in x
#'바나나' not in x

True

### 집합 연산

In [80]:
a = {1, 2, 3} 
b = {3, 4, 5}

두 집합 사이의 합집합은 `|`으로 구한다.

In [81]:
a | b

{1, 2, 3, 4, 5}

두 집합 사이의 교집합은 `&`으로 구한다.

In [82]:
a & b

{3}

두 집합 사이의 차집합은 `-`으로 구한다.

In [83]:
a - b

{1, 2}

In [84]:
[1,2,3,'a','b', True, "and", [1,2,3], (2,3)]

[1, 2, 3, 'a', 'b', True, 'and', [1, 2, 3], (2, 3)]

# 연습문제

### 문제 5)
아래와 같이 데이터가 저장되는 2차원 리스트를 만드시오.<p>
<img align="left" src="http://www.cs.ubc.ca/~pcarter/cs189/image/2darrayrc.png" alt="2D List in Python">

In [85]:
[[1,2,3], [4,5,6]]

[[1, 2, 3], [4, 5, 6]]

### 문제 6)
오직 하나의 값 1을 갖는 튜플 타입의 변수 t를 만드시오.

In [86]:
#t = tuple('1')
t = (1,)
type(t)

tuple

### 문제 7)
각반 학생들의 성적이 담겨있는 다음 표를 사전으로 만드시오.

| key      | value |
| ----------- | ----------- |
| 1반      | 10,20,20,30,40  |
| 2반   | 20,20,40,30,10       |

In [87]:
grade = {'1반': [10, 20, 20, 30, 40] , '2반':[20, 20, 40, 30, 10] }
grade

{'1반': [10, 20, 20, 30, 40], '2반': [20, 20, 40, 30, 10]}

### 문제 8)
값이 하나도 없는 비어있는 set을 만들기 위해 다음과 같이 시도해 보자.
```python
>>> a = {}
>>> type(a)
<class 'dict'>
```
위와 같이 값이 없을 경우에는 딕셔너리로 인식하게 된다. 그렇다면 값이 비어있는 집합 자료형은 어떻게 만들 수 있을까?

In [88]:
s = set()
type(s)

set

### 문제 9)
중복을 허용하지 않는 집합 자료형의 특징을 이용하여 리스트 lst에서 중복된 숫자들을 제거하시오. 즉, 중복된 값이 없는 리스트를 만들어야 한다.

In [89]:
x = [1,5,7,3,2,6,4,7,7,8,9]
set(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

<font color = "#CC3D3D"><b>
# End